$primary: #5caf55;
$secondary: #ff9183;

$light-gray: #ecececb5;
$medium-gray: #7d7d7d;
$dark-gray: #4a5353;

$font-xxl: 55px;
$font-xl: 27px;
$font-m: 18px;
$font-ms: 14px;
$font-s: 12px;

$background-transition: background 0.1s ease;
